server {
       listen 443 ssl;
        ssl_certificate      /etc/letsencrypt/archive/test-https.slavrd.eu/cert1.pem;
        ssl_certificate_key  /etc/letsencrypt/archive/test-https.slavrd.eu/privkey1.pem;

       server_name test-https.slavrd.eu;

       root /vagrant/www;
       index index.html;

       location / {
               try_files $uri $uri/ =404;
       }
}
